<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
        <meta name="twitter:widgets:theme" content="Michael Westbrooks II - iOS Developer">
        <meta property="og:title" content="Michael Westbrooks II - iOS Developer" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="Your-Image-Url" />
        <meta property="og:description" content="I am a skilled iOS developer living in Woodstock, Georgia. My previous professional life was in marketing analytics where I developed a passion to think creatively to solve complex problems and provide value driven insights. " />
        <title>Michael Westbrooks II - Mobile Engineer</title>
        <link rel="shortcut icon" type="image/x-icon" href="main/images/resume/favicon.ico">

        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
        
        <!-- Css -->
        <link rel="stylesheet" href="main/css/core.min.css" />
        <link rel="stylesheet" href="main/css/skin-resume.css" />

        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body class="shop home-page">

        <!-- Side Navigation Menu -->
        <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
            <div class="side-navigation-scroll-pane">
                <div class="side-navigation-inner">
                    <div class="side-navigation-header">
                        <div class="navigation-hide side-nav-hide">
                            <a href="#">
                                <span class="icon-cancel medium"></span>
                            </a>
                        </div>
                    </div>
                    <nav class="side-navigation">
                        <ul>
                            <li class="current" id="link-home"><p>Home</p></li>
                            <li class="current" id="link-about"><p>Bio</p></li>
                            <li class="current" id="link-skills"><p>Skills</p></li>
                            <li class="current" id="link-experience"><p>Experience</p></li>
                            <li class="current" id="link-portfolio"><p>Works</p></li>
                            <li class="current" id="link-thoughts"><p>Thoughts</p></li>
                        </ul>
                    </nav>
                    <div class="side-navigation-footer">
                        <ul class="social-list list-horizontal">
                            <li><a href="https://www.linkedin.com/in/michaelwestbrooksii" target="_blank"><span class="icon-linkedin small"></span></a></li>
                            <li><a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank"><span class="icon-instagram small"></span></a></li>
                            <li><a href="https://github.com/redroostertech/" target="_blank"><span class="icon-github small"></span></a></li>
                            <li><a href="https://medium.com/@michaelwestbrooksii" target="_blank"><span class="icon-medium small"></span></a></li>
                        </ul>
                        <p class="copyright no-margin-bottom">&copy; 2017-2018 RedRooster Technologies Inc.</p>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Side Navigation Menu End -->

        <div class="wrapper reveal-side-navigation">
            <div class="wrapper-inner">

                <!-- Header -->
                <header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100">
                    <div class="header-inner">
                        <div class="row nav-bar">
                            <div class="column width-12 nav-bar-inner">
                                <div class="logo">
                                    <div class="logo-inner">
                                        <!--<a href="index.html"><img src="main/images/resume/logo-alt.jpg" alt="Michael Westbrooks II Logo" style="border-radius: 50%;" /></a>
                                        <a href="index.html"><img src="main/images/resume/logo-alt.jpg" alt="Michael Westbrooks II Logo" style="border-radius: 50%;"/></a>-->
                                    </div>
                                </div>
                                <nav class="navigation nav-block secondary-navigation nav-right">
                                    <ul>
                                        <li>
                                            <!-- Contact Button -->
                                            <div class="v-align-middle">
                                                <a id="contact-button" data-content="inline" data-toolbar="" data-modal-mode data-modal-width="500" href="#contact-lightbox" class="lightbox-link button small pull-right no-margin-bottom icon-mail"></a>
                                            </div>
                                        </li>
                                        <li class="aux-navigation hide">
                                            <!-- Aux Navigation -->
                                            <a href="#" class="navigation-show side-nav-show nav-icon">
                                                <span class="icon-menu"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <nav class="navigation nav-block primary-navigation nav-right">
                                    <ul>
                                        <li class="current" id="link-home"> <p>Home</p></li>
                                        <li class="current" id="link-about"><p>Bio</p></li>
                                        <li class="current" id="link-skills"><p>Skills</p></li>
                                        <li class="current" id="link-experience"><p>Experience</p></li>
                                        <li class="current" id="link-portfolio"><p>Works</p></li>
                                        <li class="current" id="link-thoughts"><p>Thoughts</p></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Header End -->

                <!-- Content -->
                <div class="content clearfix">

                    <!-- Hero 5 -->
                    <section id="home" class="section-block hero-5 hero-5-2 window-height show-media-column-on-mobile replicable-content bkg-charcoal">
                        <div class="row">
                            <div class="column width-5">
                                <div class="hero-content split-hero-content">
                                    <div class="hero-content-inner left">
                                        <h1 class="color-white title-large lspacing-medium mb-0">Michael Westbrooks II</h1>
                                        <h2 class="color-white title-medium lspacing-medium">iOS Developer<br><span class="opacity-05">Atlanta</span></h2>
                                        <p class="text-medium no-margin-bottom"><span class="color-grey-light">follow me:</span> <a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank" class="color-grey-light">@mikewestbrooksthesecond</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-column width-6"></div>
                    </section>
                    <!-- Hero 5 End -->

                    <!-- Stat Section 1 -->
                    <div id="skills" class="section-block stats-1 stats-1-1 pt-140 pb-140 bkg-charcoal color-white">
                        <div class="row">
                            <div class="column width-3">
                                <div class="row content-grid-1" style="text-align: center">
                                <div class="grid-item">
                                <a href="index.html"><img style="border-radius: 50%;" src="main/images/resume/logo-alt-md.jpg" alt="Michael Westbrooks II Logo"/></a>
                                </div>
                                <div class="grid-item">
                                <h3 class="mb-mobile-80">My Skills.</h3>
                                </div>
                                </div>
                            </div>
                            <div class="column width-9">
                                <div class="row content-grid-4">
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner opacity-05">
                                                <h6 class="mb-20 text-uppercase weight-bold left">Swift (ios)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="80">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner">
                                                <h6 class="mb-20 text-uppercase weight-bold left">HTML, CSS & JS (web)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="80">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner opacity-05">
                                                <h6 class="mb-20 text-uppercase weight-bold left">NodeJS (web)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="70">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner">
                                                <h6 class="mb-20 text-uppercase weight-bold left">Objective-C (ios)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="40">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner">
                                                <h6 class="mb-20 text-uppercase weight-bold left">Microsoft Excel and suite (admin & analytics)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="90">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner opacity-05">
                                                <h6 class="mb-20 text-uppercase weight-bold left">Adobe Experience Design, Photoshop, and suite (ui design)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="80">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner opacity-05">
                                                <h6 class="mb-20 text-uppercase weight-bold left">Google Analytics (analytics)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="70">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item">
                                        <div class="stat">
                                            <div class="stat-inner opacity-05">
                                                <h6 class="mb-20 text-uppercase weight-bold left">Tableau (analytics)</h6>
                                                <p class="counter no-margin-bottom title-medium left"><span class="stat-counter" data-count-from="1" data-count-to="50">0</span>%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Stat Section 1 -->

                    <!-- Intro Section -->
                    <section id="about" class="section-block replicable-content">
                        <div class="row">
                            <div class="column width-6 right left-on-mobile">
                                <h2 class="mb-50">I help people understand why and how to create awesome things; a student to creativity and innovation.</h2>
                                <p class="weight-bold text-uppercase opacity-05 mb-mobile-50"><small>Michael Westbrooks II - An Awesome Dude</small></p>
                            </div>
                            <div class="column width-6">
                                <h2>Welcome!</h2>
                                <p class="mb-40">I'm Mike, a highly motivated creative with more than 4 years of mobile and web design and development, along with more than 4 years as a marketing professional with a focus in analytics. I've worked on a multitude of projects ranging from startups, to internationally known celebrities, to large enterprises with excess of $1.8b in revenues.</p>
                                <p>For every project that I have done, my focus has been on creating the best user experience possible. I am architect, designer, developer, and analyst which means that I enjoy participating in various capacities within the entire process, from design, to development, to testing, to launch.</p>
                            </div>
                        </div>
                    </section>
                    <!-- Intro Section End -->

                    <!-- Timeline Section -->
                    <section id="experience" class="section-block replicable-content bkg-grey-ultralight">
                        <div class="row">
                            <div class="column width-4">
                                <h3 class="mb-80 mt-mobile-50">Education.</h3>
                            </div>
                            <div class="column width-8 left">
                                <ul class="timeline">
                                    <li>
                                        <div class="row">
                                            <div class="timeline-title column width-3">
                                                <h5 class="mb-5 color-grey-light">2008 - 2012</h5>
                                            </div>
                                            <div class="timeline-description column width-9">
                                                <a href="http://morehouse.edu/" target="_blank"><h4 class="mb-10">Morehouse College</h4></a>
                                                <p class="mb-40">Bachelor of Arts in Business Management w/ concentration in Marketing</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column width-4">
                                <h3 class="mb-80 mt-mobile-50">Experience.</h3>
                            </div>
                            <div class="column width-8 left">
                                <ul class="timeline">
                                    <li>
                                        <div class="row">
                                            <div class="timeline-title column width-3">
                                                <h5 class="mb-5 color-grey-light">2018 - Present</h5>
                                            </div>
                                            <div class="timeline-description column width-9">
                                                <h4 class="mb-10">App Developer @ Tinroof Software</h4>
                                                <p class="mb-40">Currently working as a Jr. iOS developer on the <a href="https://itunes.apple.com/us/app/fly-delta/id388491656?mt=8" target="_blank">Delta Airlines</a> mobile project. Some of my responsibilities include updating existing features/codebase, converting modules from objective-c to Swift, and working on projects that add new features to the iOS app.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="timeline-title column width-3">
                                                <h5 class="mb-5 color-grey-light">2017 - Present</h5>
                                            </div>
                                            <div class="timeline-description column width-9">
                                                <h4 class="mb-10">Product Engineer @ Nuracode</h4>
                                                <p class="mb-40">Worked with various clients to translate concepts into product requirements and business domain. Managed the development process and oversaw UI/UX app and site implementations, development and beta user testing. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="timeline-title column width-3">
                                                <h5 class="mb-5 color-grey-light">2016 - 2018</h5>
                                            </div>
                                            <div class="timeline-description column width-9">
                                                <h4 class="mb-10">Project Manager @ RedRooster Technologies</h4>
                                                <p class="mb-40">Worked as lead designer, lead developer, and project manager with engagement with <a href="https://www.coxmediagroup.com/" target="_blank">Cox Media Group</a>. Lead efforts from POC through rapid development and deployment.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="timeline-title column width-3">
                                                <h5 class="mb-5 color-grey-light">2016-2017</h5>
                                            </div>
                                            <div class="timeline-description column width-9">
                                                <h4 class="mb-10">Lead Web Developer @ Voltron Enterprises</h4>
                                                <p class="mb-40">Worked as lead web developer to research, design, and develop <a href="www.voltrontravel.com" target="_blank">Voltron Travel</a>, an online travel agency.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- <p><a href="#" class="button text-uppercase bkg-theme color-white border-hover-grey-light color-hover-grey no-margin-bottom">View More</a></p> -->
                            </div>
                        </div>
                    </section>
                    <!-- Timeline End -->

                    <!-- Portfolio Grid -->
                    <div  id="portfolio" class="section-block replicable-content bkg-charcoal color-white">
                        <div class="row">
                            <div class="column width-4">
                                <h3>Portfolio.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="section-block grid-container fade-in-progressively full-width no-margins no-padding bkg-charcoal" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0.8">
                        <div class="row">
                            <div class="column width-12">
                                <div class="row grid content-grid-4">
                                    <div class="grid-item grid-sizer design">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-1" data-caption="COX - Trap App | Task: Client desired a real-time “pokemon go”-esque mobile and web solution to assist technicians in upgrading legacy hardware." data-image-url="main/images/resume/portfolio/grid/no-margins/project-1.png" href="main/images/resume/portfolio/grid/no-margins/project-1.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-1.png" alt=""/>
                                                <span class="overlay-info center">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">COX - Trap App</span>
                                                                <span class="project-description">Swift 2, MongoDB, NodeJS, Express, EJS, HTML, CSS</span>    
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item illutration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-2" data-caption="Tydee - On Demand Trash Valet | Task: The goal of Tydee was to provide on-demand valet trash services to apartment residents." data-image-url="main/images/resume/portfolio/grid/no-margins/project-2.png" href="main/images/resume/portfolio/grid/no-margins/project-2.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-2.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Tydee - On Demand Trash Valet</span>
                                                                <span class="project-description">Swift 2, Firebase, Mobile Payments</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item design illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-3" data-caption="Voltron Travel - Online Travel Agency | Task: Client wanted to move into the online travel space and use celebrity notoriety to compete with current players." data-image-url="main/images/resume/portfolio/grid/no-margins/project-3.png" href="main/images/resume/portfolio/grid/no-margins/project-3.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-3.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Voltron Travel - Online travel agency</span>
                                                                <span class="project-description">NodeJS, HTML, EJS, Priceline API</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item design illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-4" data-caption="SweetSpot" data-image-url="images/resume/portfolio/grid/no-margins/project-4.png" href="images/resume/portfolio/grid/no-margins/project-4.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-4.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">SweetSpot - Yelp for Wine Preferences</span>
                                                                <span class="project-description">Swift 3, PHP</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item design illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-5" data-caption="Iggi - Mentor and Mentee Collaboration Tool" data-image-url="main/images/resume/portfolio/grid/no-margins/project-5.png" href="main/images/resume/portfolio/grid/no-margins/project-5.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-5.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Iggi - Mentor and Mentee Collaboration Tool</span>
                                                                <span class="project-description">Swift 3, PHP</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-6" data-caption="Clearvue - Texting Utility | Task: Company wanted to design and develop a simple mobile application that helps distracted walkers text and walk easily and hassle free." data-image-url="main/images/resume/portfolio/grid/no-margins/project-6.png" href="main/images/resume/portfolio/grid/no-margins/project-6.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-6.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Clearvue - Texting and Walking Utility</span>
                                                                <span class="project-description">Swift 3, Firebase</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-7" data-caption="Boothnoire UI - Visitor Flow" data-image-url="main/images/resume/portfolio/grid/no-margins/project-7a.png" href="main/images/resume/portfolio/grid/no-margins/project-7a.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-7a.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Boothnoire (FE Design) </span>
                                                                <span class="project-description">Adobe Experience Design, Swift 3, Firebase</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-8" data-caption="Igrushi Experience (web)" data-image-url="main/images/resume/portfolio/grid/no-margins/project-6.png" href="main/images/resume/portfolio/grid/no-margins/project-6.png" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-8.png" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Website: IgrushiExperience.com</span>
                                                                <span class="project-description">NodeJS, EJS, ExpressJS, CSS</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-9" data-caption="Weather Icon Set" data-image-url="main/images/resume/portfolio/grid/no-margins/project-9.jpg" href="main/images/resume/portfolio/grid/no-margins/project-9.jpg" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-9.jpg" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Weather Icon Set</span>
                                                                <span class="project-description">Adobe Illustrator</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid-item illustration">
                                        <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.6">
                                            <a class="overlay-link lightbox-link" data-group="project-10" data-caption="Social Networking Icon Set" data-image-url="main/images/resume/portfolio/grid/no-margins/project-10.jpg" href="main/images/resume/portfolio/grid/no-margins/project-10.jpg" data-lightbox-animation="slideInBottom">
                                                <img src="main/images/resume/portfolio/grid/no-margins/project-10.jpg" alt=""/>
                                                <span class="overlay-info">
                                                    <span>
                                                        <span>
                                                            <span>
                                                                <span class="project-title">Social Networking Icon Set</span>
                                                                <span class="project-description">Adobe Illustrator</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Porftolio Grid -->

                    <!-- Team Grid -->
                    <div id="thoughts" class="section-block replicable-content team-2 bkg-grey-ultralight">
                        <div class="row">
                            <div class="column width-6">
                                <h2 class="mb-40">My Thoughts</h2>
                            </div>
                            <div class="column width-12">
                                <div class="row content-grid-3 clearfix">
                                    <div class="grid-item">
                                        <article class="post">
                                            <div class="post-media">
                                                <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.9">
                                                    <a class="overlay-link" href="https://medium.com/@michaelwestbrooksii/i-have-an-idea-for-an-app-any-advice-67d6e265f912" target="_blank">
                                                        <img src="main/images/blog/blog-1.png" width="760" height="500" alt=""/>
                                                        <span class="overlay-info">
                                                            <span>
                                                                <span>
                                                                    Read More
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-content with-background">
                                                <h2 class="post-title"><a href="https://medium.com/@michaelwestbrooksii/i-have-an-idea-for-an-app-any-advice-67d6e265f912" target="_blank">I have an idea for an app<br>…any advice?</a></h2>
                                                <div class="post-info">
                                                    <span class="post-date">16 Sep 2017</span>
                                                </div>
                                                <p>I think right now the idea of building an app is a hot topic amongst those interested in venturing out into the world of entrepreneurship. Honestly, I do not blame the person in question. Building an app fueled by passion, determination, and vision creates a type of rush similar to that of selling drugs...</p>
                                            </div>
                                            <p><a href="https://medium.com/@michaelwestbrooksii/i-have-an-idea-for-an-app-any-advice-67d6e265f912" target="_blank" class="button text-uppercase bkg-theme color-white border-hover-grey-light color-hover-grey no-margin-bottom">Read More</a></p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Team Grid End -->

                    <!-- Sign Up Section 2 -->
                    <section class="section-block signup-2 signup-2-1">
                        <div class="row">
                            <div class="column width-7">
                                <div class="signup-form-container">
                                    <h2 class="color-white">Ready to Create?</h2>
                                    <p class="mb-30 color-white">Making the decision to act on your idea is the first step in the exciting journey of entrepreneurship. The world is changing and it needs your amazing product. Send me a message and let's schedule some time to chat about how I can help!</p>
                                    <a id="call-to-action-button" class="button medium bkg-theme border-hover-white color-white color-hover-white mb-70">
                                        Contact Me
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Sign Up Section 2 End -->

                    <!-- Contact Modal -->
                    <div id="contact-lightbox" class="pt-70 pb-50 hide">
                        <div class="row">
                            <div id="contact-modal" class="column width-12 left">
                                <h2>Say Hello!</h2>
                                <p class="mb-50" id="form-response-message"></p>
                                <div class="contact-form-container no-margin-bottom">
                                    <form id="inquiry-form" name="inquiry-form" method="post">
                                        <div class="row">
                                            <div class="column width-12">
                                                <input type="text" id="name" name="name" class="form-fname form-element large" placeholder="First Name*" >
                                            </div>
                                            <div class="column width-12">
                                                <input type="email" id="emailaddress" name="emailaddress" class="form-email form-element large" placeholder="Email Address*" >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column width-12 center">
                                                <textarea id="mess" name="mess" class="form-message form-element large" placeholder="Message*"  ></textarea>
                                                <button type="submit" id="sendemail" class="form-submit button medium text-uppercase bkg-theme bkg-hover-charcoal color-white color-hover-white">Send Email</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Modal End -->

                </div>
                <!-- Content End -->

                <!-- Footer -->
                <footer class="footer">
                    <div class="footer-top">
                        <div class="row flex">
                            <div class="column width-6 offset-3 center">
                                <div class="widget">
                                    <h4 class="widget-title">Contact Me</h4>
                                    <p class="no-margin-bottom">
                                        <a href="mailto:#">mwestbrooksjr@gmail.com</a>
                                    </p>
                                    <ul class="social-list list-horizontal">
                                        <li><a href="https://www.linkedin.com/in/michaelwestbrooksii" target="_blank"><span class="icon-linkedin small"></span></a></li>
                                        <li><a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank"><span class="icon-instagram small"></span></a></li>
                                        <li><a href="https://github.com/redroostertech/" target="_blank"><span class="icon-github small"></span></a></li>
                                        <li><a href="https://medium.com/@michaelwestbrooksii" target="_blank"><span class="icon-medium small"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="column width-12 center">
                                <p class="copyright">
                                    &copy; RedRooster Technologies Inc. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer End -->

            </div>
        </div>

        <!-- Js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
        <script src="main/js/timber.master.min.js"></script>

        <script>

            $('#link-home').on('click', function(e) {
                e.preventDefault();
                document.getElementById("home").scrollIntoView();
            });
            $('#link-about').on('click', function(e) {
                e.preventDefault();
                document.getElementById("about").scrollIntoView();
            });
            $('#link-skills').on('click', function(e) {
                e.preventDefault();
                document.getElementById("skills").scrollIntoView();
            });
            $('#link-experience').on('click', function(e) {
                e.preventDefault();
                document.getElementById("experience").scrollIntoView();
            });
            $('#link-portfolio').on('click', function(e) {
                e.preventDefault();
                document.getElementById("portfolio").scrollIntoView();
            });
            $('#link-thoughts').on('click', function(e) {
                e.preventDefault();
                document.getElementById("thoughts").scrollIntoView();
            });
            $('#call-to-action-button').on('click', function(e) {
                e.preventDefault();
                $('#contact-button').click();
            })

            $('#inquiry-form').on('submit', function(e) {
                e.preventDefault();
                var data = {
                        name: this.name.value,
                        email: this.emailaddress.value,
                        message: this.mess.value
                    }
                this.name.value = '';
                this.emailaddress.value = '';
                this.mess.value = '';
                $.ajax({
                    type: 'POST',
                    url: 'api/v1/contactform',
                    data: data,
                    success: function(response) {
                        console.log(response);
                        if (response.status === 200) {
                            if (response.success.result === true) {
                                console.log(response.success.result);
                                console.log(response.success.message);
                                $("#contact-modal p").html(response.success.message);
                            } else {
                                console.log(response.error.message);
                                return $("#form-response-message p").html(response.error.message);
                            }
                        } else {
                            return $("#form-response-message p").html("There was an error. Please try again.");
                        }
                    },
                    error: function() {
                        return $("#form-response-message p").html("There was an error. Please try again.");
                    }
                });
            });

            function isValidEmail(email) {
                var addressCheck = new RegExp( /^[_\.0-9a-zA-Z-]+@([0-9a-zA-Z][0-9a-zA-Z-]+\.)+[a-zA-Z]{2,6}$/i );
			    return addressCheck.test(email);
            }
        </script>
    </body>
</html>