<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
        <meta name="twitter:widgets:theme" content="Michael Westbrooks II - iOS Developer">
        <meta property="og:title" content="Michael Westbrooks II - iOS Developer" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="Your-Image-Url" />
        <meta property="og:description" content="I am a skilled iOS developer living in Woodstock, Georgia. My previous professional life was in marketing analytics where I developed a passion to think creatively to solve complex problems and provide value driven insights. " />
        <title>Michael Westbrooks II - Mobile Engineer</title>
        <link rel="shortcut icon" type="image/x-icon" href="main/images/resume/favicon.ico">

        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
        
        <!-- Css -->
        <link rel="stylesheet" href="main/css/core.min.css" />
        <link rel="stylesheet" href="main/css/skin.css" />

        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body class="shop home-page">

        <!-- Side Navigation Menu -->
        <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
            <div class="side-navigation-scroll-pane">
                <div class="side-navigation-inner">
                    <div class="side-navigation-header">
                        <div class="navigation-hide side-nav-hide">
                            <a href="#">
                                <span class="icon-cancel medium"></span>
                            </a>
                        </div>
                    </div>
                    <nav class="side-navigation">
                        <ul>
                            <li class="current" id="link-home"><p>Home</p></li>
                            <li class="current" id="link-about"><p>Bio</p></li>
                            <li class="current" id="link-skills"><p>Skills</p></li>
                            <li class="current" id="link-experience"><p>Experience</p></li>
                            <li class="current" id="link-portfolio"><p>Works</p></li>
                            <li class="current" id="link-thoughts"><p>Thoughts</p></li>
                        </ul>
                    </nav>
                    <div class="side-navigation-footer">
                        <ul class="social-list list-horizontal">
                            <li><a href="https://www.linkedin.com/in/michaelwestbrooksii" target="_blank"><span class="icon-linkedin small"></span></a></li>
                            <li><a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank"><span class="icon-instagram small"></span></a></li>
                            <li><a href="https://github.com/redroostertech/" target="_blank"><span class="icon-github small"></span></a></li>
                            <li><a href="https://medium.com/@michaelwestbrooksii" target="_blank"><span class="icon-medium small"></span></a></li>
                        </ul>
                        <p class="copyright no-margin-bottom">&copy; 2017-2018 RedRooster Technologies Inc.</p>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Side Navigation Menu End -->

        <div class="wrapper reveal-side-navigation">
            <div class="wrapper-inner">

                <!-- Content -->
                <div class="content clearfix">

                    <section class="section-block replicable-content contact-2">
					<div class="row">
						<div id="twilio-text-form" class="column width-4">
							<h2 class="mb-30">Say Hello</h2>
							<p class="mb-50" id="form-response-message"></p>
						</div>
						<div class="column width-8 left">
							<div class="contact-form-container">
								<form id="twilio-form" method="post" novalidate>
									<div class="row">
										<div class="column width-12">
											<input type="text" name="recipient" class="form-fname form-element large" placeholder="Recipient Phone Number*" tabindex="1" required>
										</div>
									</div>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<textarea name="message" class="form-message form-element large" placeholder="Message*" tabindex="7" required></textarea>
											</div>
										</div>
										<div class="column width-12">
											<input id="sendtext" type="submit" value="Send Text" class="form-submit button medium bkg-theme bkg-hover-theme color-white color-hover-white">
										</div>
									</div>
								</form>
								<div class="form-response center"></div>
							</div>
						</div>
					</div>
				</section>
				<!--Contact Form End -->

                </div>
                <!-- Content End -->

                <!-- Footer -->
                <footer class="footer">
                    <div class="footer-top">
                        <div class="row flex">
                            <div class="column width-6 offset-3 center">
                                <div class="widget">
                                    <h4 class="widget-title">Contact Me</h4>
                                    <p class="no-margin-bottom">
                                        <a href="mailto:#">mwestbrooksjr@gmail.com</a>
                                    </p>
                                    <ul class="social-list list-horizontal">
                                        <li><a href="https://www.linkedin.com/in/michaelwestbrooksii" target="_blank"><span class="icon-linkedin small"></span></a></li>
                                        <li><a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank"><span class="icon-instagram small"></span></a></li>
                                        <li><a href="https://github.com/redroostertech/" target="_blank"><span class="icon-github small"></span></a></li>
                                        <li><a href="https://medium.com/@michaelwestbrooksii" target="_blank"><span class="icon-medium small"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="column width-12 center">
                                <p class="copyright">
                                    &copy; RedRooster Technologies Inc. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer End -->

            </div>
        </div>

        <!-- Js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
        <script src="main/js/timber.master.min.js"></script>

        <script>
            $('#twilio-form').on('submit', function(e) {
                e.preventDefault();
                var data = {
                        recipient: this.recipient.value,
                        message: this.message.value
                    }
                this.name.value = '';
                this.message.value = '';
                $.ajax({
                    type: 'POST',
                    url: '../api/v1/sendText',
                    data: data,
                    success: function(response) {
                        console.log(response);
                        if (response.status === 200) {
                            if (response.success.result === true) {
                                console.log(response.success.result);
                                console.log(response.success.message);
                                $("#twilio-text-form p").html(response.success.message);
                            } else {
                                console.log(response.error.message);
                                return $("#twilio-text-form p").html(response.error.message);
                            }
                        } else {
                            return $("#twilio-text-form p").html("There was an error. Please try again.");
                        }
                    },
                    error: function() {
                        return $("#twilio-text-form p").html("There was an error. Please try again.");
                    }
                });
            });

            function isValidEmail(email) {
                var addressCheck = new RegExp( /^[_\.0-9a-zA-Z-]+@([0-9a-zA-Z][0-9a-zA-Z-]+\.)+[a-zA-Z]{2,6}$/i );
			    return addressCheck.test(email);
            }
        </script>
    </body>
</html>