<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
        <meta name="twitter:widgets:theme" content="Michael Westbrooks II - iOS Developer">
        <meta property="og:title" content="Michael Westbrooks II - iOS Developer" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="Your-Image-Url" />
        <meta property="og:description" content="I am a skilled iOS developer living in Woodstock, Georgia. My previous professional life was in marketing analytics where I developed a passion to think creatively to solve complex problems and provide value driven insights. " />
        <title>Michael Westbrooks II - Mobile Engineer</title>
        <link rel="shortcut icon" type="image/x-icon" href="main/images/resume/favicon.ico">

        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
        
        <!-- Css -->
        <link rel="stylesheet" href="main/css/core.min.css" />
        <link rel="stylesheet" href="main/css/skin-resume.css" />

        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body class="shop home-page">

        <div class="wrapper reveal-side-navigation">
            <div class="wrapper-inner">

                <!-- Header -->
                <header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100">
                    <div class="header-inner">
                        <div class="row nav-bar">
                            <div class="column width-12 nav-bar-inner">
                                <div class="logo">
                                    <div class="logo-inner">
                                        <!--<a href="index.html"><img src="main/images/resume/logo-alt.jpg" alt="Michael Westbrooks II Logo" style="border-radius: 50%;" /></a>
                                        <a href="index.html"><img src="main/images/resume/logo-alt.jpg" alt="Michael Westbrooks II Logo" style="border-radius: 50%;"/></a>-->
                                    </div>
                                </div>
                                <nav class="navigation nav-block primary-navigation nav-right">
                                    <ul>
                                        <li>
                                        <a href="/" style="color:black;"><p>Go Back</p></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Header End -->

                <!-- Content -->
                <div class="content clearfix">

                    <!-- Hero 5 Signup Custom Section -->
                    <section class="section-block signup-1 bkg-grey-ultralight">
                        <div class="row">
                            <div class="column width-6 offset-3 center">
                                <div class="signup-form-container">
                                    <form id="signup-form" method="post" action="../api/v1/signup" novalidate>
                                        <div class="row">
                                            <div class="column width-4">
                                                <div class="field-wrapper">
                                                    <select type="number" name="countrycode" class="form-name form-element large left" required>
                                                        <% include country-codes %> 
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="column width-8">
                                                <div class="field-wrapper">
                                                    <input type="tel" name="phonenumber" class="form-name form-element large left" placeholder="4045555678*" required>
                                                </div>
                                            </div>
                                            <div class="column width-12">
                                                <div class="field-wrapper">
                                                    <input type="text" name="firstname" class="form-email form-element large left" placeholder="First name*" tabindex="2" required>
                                                </div>
                                            </div>
                                            <div class="column width-12">
                                                <div class="field-wrapper">
                                                    <input type="text" name="lastname" class="form-email form-element large left" placeholder="Last name*" tabindex="2" required>
                                                </div>
                                            </div>
                                            <div class="column width-12">
                                                <div class="field-wrapper">
                                                    <input type="email" name="emailaddress" class="form-email form-element large left" placeholder="Email address*" tabindex="2" required>
                                                </div>
                                            </div>
                                            <div class="column width-12">
                                                <select type="number" name="venue" class="form-name form-element large left" required>
                                                    <% if (data !== null) { %>
                                                        <% Object.keys(data).forEach(function(object) { %>
                                                            <% console.log(data[object]) %>
                                                            <% var obj = data[object] %>
                                                            <option value="<%= obj.venueID %>"><%= obj.venueName %> in <%= obj.venueCity %>, <%= obj.venueState %></option>
                                                        <% }); %> 
                                                    <% } %> 
                                                </select>
                                            </div>
                                            <div class="column width-6">
                                                <input type="password" id="password" name="password" class="form-email form-element large" placeholder="******" >
                                            </div>
                                            <div class="column width-6">
                                                <input type="password" id="confirmpassword" name="confirmpassword" class="form-email form-element large" placeholder="******" >
                                            </div>
                                            <div class="column width-5">
                                                <input id="signup" type="submit" value="Sign Up" class="form-submit button large bkg-theme bkg-hover-theme color-white color-hover-white">
                                            </div>
                                        </div>
                                        <input type="text" name="honeypot" class="form-honeypot form-element">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero 5 Signup Custom Section End -->
                </div>
                <!-- Content End -->

            </div>
        </div>

        <!-- Js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
        <script src="main/js/timber.master.min.js"></script>
    </body>
</html>