<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
        <meta name="twitter:widgets:theme" content="Michael Westbrooks II - iOS Developer">
        <meta property="og:title" content="Michael Westbrooks II - iOS Developer" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="Your-Image-Url" />
        <meta property="og:description" content="I am a skilled iOS developer living in Woodstock, Georgia. My previous professional life was in marketing analytics where I developed a passion to think creatively to solve complex problems and provide value driven insights. " />
        <title>Michael Westbrooks II - Mobile Engineer</title>
        <link rel="shortcut icon" type="image/x-icon" href="main/images/resume/favicon.ico">

        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
        
        <!-- Css -->
        <link rel="stylesheet" href="main/css/core.min.css" />
        <link rel="stylesheet" href="main/css/skin.css" />

        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body class="shop home-page">

        <!-- Side Navigation Menu -->
        <aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
            <div class="side-navigation-scroll-pane">
                <div class="side-navigation-inner">
                    <div class="side-navigation-header">
                        <div class="navigation-hide side-nav-hide">
                            <a href="#">
                                <span class="icon-cancel medium"></span>
                            </a>
                        </div>
                    </div>
                    <nav class="side-navigation">
                        <ul>
                            <li class="current" id="link-home"><p>Home</p></li>
                            <li class="current" id="link-about"><p>Bio</p></li>
                            <li class="current" id="link-skills"><p>Skills</p></li>
                            <li class="current" id="link-experience"><p>Experience</p></li>
                            <li class="current" id="link-portfolio"><p>Works</p></li>
                            <li class="current" id="link-thoughts"><p>Thoughts</p></li>
                        </ul>
                    </nav>
                    <div class="side-navigation-footer">
                        <ul class="social-list list-horizontal">
                            <li><a href="https://www.linkedin.com/in/michaelwestbrooksii" target="_blank"><span class="icon-linkedin small"></span></a></li>
                            <li><a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank"><span class="icon-instagram small"></span></a></li>
                            <li><a href="https://github.com/redroostertech/" target="_blank"><span class="icon-github small"></span></a></li>
                            <li><a href="https://medium.com/@michaelwestbrooksii" target="_blank"><span class="icon-medium small"></span></a></li>
                        </ul>
                        <p class="copyright no-margin-bottom">&copy; 2017-2018 RedRooster Technologies Inc.</p>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Side Navigation Menu End -->

        <div class="wrapper reveal-side-navigation">
            <div class="wrapper-inner">

                <!-- Header -->
                <header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100">
                    <div class="header-inner">
                        <div class="row nav-bar">
                            <div class="column width-12 nav-bar-inner">
                                <div class="logo">
                                    <div class="logo-inner">
                                        <!--<a href="index.html"><img src="main/images/resume/logo-alt.jpg" alt="Michael Westbrooks II Logo" style="border-radius: 50%;" /></a>
                                        <a href="index.html"><img src="main/images/resume/logo-alt.jpg" alt="Michael Westbrooks II Logo" style="border-radius: 50%;"/></a>-->
                                    </div>
                                </div>
                                <nav class="navigation nav-block secondary-navigation nav-right">
                                    <ul>
                                        <li>
                                            <!-- Contact Button -->
                                            <div class="v-align-middle">
                                                <a id="contact-button" data-content="inline" data-toolbar="" data-modal-mode data-modal-width="500" href="#contact-lightbox" class="lightbox-link button small pull-right no-margin-bottom icon-mail"></a>
                                            </div>
                                        </li>
                                        <li class="aux-navigation hide">
                                            <!-- Aux Navigation -->
                                            <a href="#" class="navigation-show side-nav-show nav-icon">
                                                <span class="icon-menu"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <nav class="navigation nav-block primary-navigation nav-right">
                                    <ul>
                                        <li class="current" id="link-home"> <p>Home</p></li>
                                        <li class="current" id="link-about"><p>Bio</p></li>
                                        <li class="current" id="link-skills"><p>Skills</p></li>
                                        <li class="current" id="link-experience"><p>Experience</p></li>
                                        <li class="current" id="link-portfolio"><p>Works</p></li>
                                        <li class="current" id="link-thoughts"><p>Thoughts</p></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Header End -->

                <!-- Content -->
                <div class="content clearfix">

                    <!-- Intro Title -->
                    <div class="section-block intro-title-2">
                        <div class="row">
                            <div class="column width-10 offset-1 center">
                                <div class="title-container">
                                    <div class="title-container-inner color-white">
                                        <h1 class="title-large mb-30">Subscribe Forms.</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Intro Title End -->

                    <!-- Hero 5 Signup Custom Section -->
                    <section class="section-block signup-1 bkg-grey-ultralight">
                        <div class="row">
                            <div class="column width-6 offset-3 center">
                                <div class="signup-form-container">
                                    <form id="venue-create-form" method="post" action="../api/v1/capture" novalidate>
                                        <div class="row">
                                            <div class="column width-12">
                                                <input type="text" id="venuename"  name="venuename" class="fform-name form-element large left" placeholder="Venue Name">
                                            </div>
                                            <div class="column width-12">
                                                <input type="text" id="venuecity"  name="venuecity" class="form-name form-element large left" placeholder="Venue City">
                                            </div>
                                            <div class="column width-12">
                                                <input type="text" id="venuestate"  name="venuestate" class="form-name form-element large left" placeholder="Venue State">
                                            </div>
                                            <div class="column width-12">
                                                <input type="number" id="sectioncount" name="sectioncount" class="form-name form-element large left" placeholder="Number of Sections" required>
                                            </div>
                                            <div class="column width-12">
                                                <div class="column width-12" id="uploadCount">
                                                    <div class="form-name form-element large left" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput">
                                                            <img src="http://placehold.it/200x150" alt="...">
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px">
                                                        </div>
                                                        <div>
                                                            <span class="btn btn-white btn-file">
                                                                <span class="fileinput-new">Select image</span>
                                                                <span class="fileinput-exists">Change</span>
                                                                <input type="file" name="venueImage1" id="field-5-1" accept="image/*">
                                                            </span>
                                                            <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column width-12">
                                                <a href="#" onclick="appendInput()" class="button medium text-uppercase bkg-theme bkg-hover-charcoal color-white color-hover-white">
                                                    <i class="entypo-plus"></i>
                                                    Add Floorplan Level
                                                </a>
                                                <a href="#" onclick="removeInput()" class="button medium text-uppercase bkg-theme bkg-hover-charcoal color-white color-hover-white">
                                                    <i class="entypo-cancel"></i>
                                                    Remove Last Floorplan Level
                                                </a>
                                            </div>
                                            <div class="column width-12" style="display: none;" >
                                                <input type="number" id="floors" name="floors" class="form-name form-element large left" placeholder="Number of Floors" value="1" required>
                                            </div>
                                            <div class="column width-12" >
                                                <div class="field-wrapper pt-10 pb-10">
                                                <h3>Status</h3>
                                                    <input id="radio-1" class="form-element radio" name="active" type="radio" value="true" checked>
                                                    <label for="radio-1" class="radio-label">Active</label>
                                                    <input id="radio-2" class="form-element radio" name="active" type="radio" value="false">
                                                    <label for="radio-2" class="radio-label">Inactive</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column width-6 center">
                                                <button type="submit" id="savevenue" class="form-submit button medium text-uppercase bkg-theme bkg-hover-charcoal color-white color-hover-white">Save</button>
                                            </div>
                                            <div class="column width-6 center">
                                                <button type="button" id="cancelvenue" class="form-submit button medium text-uppercase bkg-theme bkg-hover-charcoal color-white color-hover-white">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero 5 Signup Custom Section End -->
                </div>
                <!-- Content End -->

                <!-- Footer -->
                <footer class="footer">
                    <div class="footer-top">
                        <div class="row flex">
                            <div class="column width-6 offset-3 center">
                                <div class="widget">
                                    <h4 class="widget-title">Contact Me</h4>
                                    <p class="no-margin-bottom">
                                        <a href="mailto:#">mwestbrooksjr@gmail.com</a>
                                    </p>
                                    <ul class="social-list list-horizontal">
                                        <li><a href="https://www.linkedin.com/in/michaelwestbrooksii" target="_blank"><span class="icon-linkedin small"></span></a></li>
                                        <li><a href="https://www.instagram.com/mikewestbrooksthesecond/" target="_blank"><span class="icon-instagram small"></span></a></li>
                                        <li><a href="https://github.com/redroostertech/" target="_blank"><span class="icon-github small"></span></a></li>
                                        <li><a href="https://medium.com/@michaelwestbrooksii" target="_blank"><span class="icon-medium small"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="row">
                            <div class="column width-12 center">
                                <p class="copyright">
                                    &copy; RedRooster Technologies Inc. All Rights Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer End -->

            </div>
        </div>

        <!-- Js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
        <script src="main/js/timber.master.min.js"></script>

        <script>
            function goBack(){
                window.history.back();
            }
            
            var imageCount = 1;
            var maxCount = 3;
            function appendInput() {
                if (imageCount < maxCount) {
                    console.log('Not Yet');
                    imageCount = imageCount + 1;
                    var input = '<div id="input-item" class="form-name form-element large left" data-provides="fileinput"><div class="fileinput-new thumbnail" style="width: 200px; height: 150px;" data-trigger="fileinput"><img src="http://placehold.it/200x150" alt="..."></div><div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div><div><span class="btn btn-white btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="venueImage1" id="field-5-1" accept="image/*"></span><a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a></div></div>';
                    console.log(imageCount);
                    $('#floors').val(imageCount);
                    $('#uploadCount').append(input);
                } else {
                    console.log('Ok');
                    alert('Error: You can only add up to 3 floorplans.');
                }
            }
            
            function removeInput() {
                imageCount = imageCount - 1;
                console.log(imageCount);
                $('#input-item').last().remove();
            }
        </script>
    </body>
</html>