<div class="bg-white">
    <div class="container">
        <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
        <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-close" data-toggle="horizontal-menu">
        </a>
        <ul>
            <li>
            <a href="/twilio-view-venues">Venues</a>
            </li>
            <li>
            <a href="/twilio-view-users"><span class="title"> User Management</span></a>
            </li>
        </ul>
        </div>
    </div>
</div>